@font-face {
    font-family: sunset;
    src: url(/assets/Fonts/sunset-gothic-font-1719273028-0/Sunset-Gothic-Pro.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}
nav{
    height: 80px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    position: relative;
    z-index: 110;
}
#logo{
    height: 50%;
    width: 160px;
    display: flex;  
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 80%;
    transition: all ease-in-out 0.5s;
}
#links{
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5vw;
    border-radius: 50px;
    position: absolute;
    left: 28%;
}
#links h4{
    padding: 10px 8px ;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
#links h4::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #1111111d;
    position: absolute;
    left: 0%;
    bottom: -100%;
    z-index: 9;
    border-radius: 50%;
    transition: all ease 0.3s;
}
#links h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#links a{
    text-decoration: none;
    font-size: 1.6vw;
    color: #111;
    font-family: sunset;
    font-weight: 500;
    position: relative;
    z-index: 10;
}
#cart{
    height: 65px;
    width: 65px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
#cart img{
    height: 50%;
    width: 50%;
}
#menu{
    display: none;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
#p1-content{
    height: calc(100vh -80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p1-main{
    width: 75vw;
    height: 85vh;
    position: relative;
}
.image-con{
    height: 100%;
    width: 0%;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
}
.image-con img{
    height: 130%;
    object-fit: cover;
}
.text{
    position: absolute;
    z-index: 10;
    height: 110px;
    width: 450px;
    overflow: hidden;
    left: -10%;
    bottom: 10%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text h1{
    font-family: sunset;
    font-size: 5.2vw;
    position: absolute;
    top: 110px;
    color: #111;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}
#p2-inner-page{
    height: 75%;
    width: 90%;
    background-image:radial-gradient(#FFFAAB,#F6ED6C);
    border-radius: 20px;
    display: flex;
    position: absolute;
    z-index: 10;
}
#p2-left{
    height: 100%;
    width: 60%;
    padding: 3.5vw 1.5vw;
    display: flex;
    flex-direction: column;
}
#p2-left h1{
    font-family: sunset;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 4vw;
}
#p2-left h2{
    font-family: sunset;
    font-weight: 600;
    font-size:calc(4vw / 1.618);
}
#p2-left h3{
    font-family: sunset;
    font-weight: 600;
    transform: translateY(25px);
    font-size:calc(4vw / 1.618 / 1.618)
}
#p2-left li{
    transform: translateY(30px);
    font-family: sunset;
    font-weight: 300;
    font-size:calc(5vw / 1.618 / 1.618 / 1.618);
    
}
#p2-left li::marker{
    content: "";
}
#p2-right{
    height: 100%;
    width: 40%;
}
#p2-right img{
    height: 110%;
    transform: translateX(-180px);
}
#p2-hero{
    height: 300px;
    width: 350px;
    background-image: linear-gradient(#f6ed6c9c,#fcf1569c );
    position: absolute;
    z-index: 9;
    filter: blur(25px);
    bottom: 10%;
    right: 0;
    border-radius: 100px;
    animation-name: anim;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anim {
    from{
        right: -10%;
        bottom: 10%;
        border-radius: 100px;
    }
    to{
        right: 100%;
        bottom: 50%;
        border-radius: 200%;
    }
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#p3-left{
    height: 80vh;
    width: 50%;
    padding-left: 3vw;
    padding-top: 3vw;
}
#p3-left h1{
    font-size: 6vw;
    font-weight: 400;
    font-family: sunset;
    line-height: 85px;
}
#p3-left p{
    font-size: 1.3vw;
    font-weight: 100;
    font-family: sunset;
    transform: translateY(70px);
}
#p3-right{
    height: 95vh;
    width: 50%;
    position: relative;
    
}
#p3-link{
    height: 70px;
    width: 70px;
    background-color: #61CEF2;
    border-radius: 50%;
    position: absolute;
    right: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p3-link i{
    font-size: 2.5vw;
}
#p3-go-to{
    height: 30%;
    width: 90%;
    position: absolute;
    bottom: 2vw;
}
#gt-1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #111;
}
#gt-2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #111;
}
#gt-1 h1{
    font-size: 3vw;
    font-family: sunset;
    font-weight: 400;
}
#gt-2 h1{
    font-size: 3vw;
    font-family: sunset;
    font-weight: 400;
}
#gt-1 i{
    font-size: 3.5vw;
    transform: rotate(-45deg);
    transition: ease-in-out 0.3s;
}
#gt-2 i{
    font-size: 3.5vw;
    transform: rotate(-45deg);
    transition: ease-in-out 0.3s;
}
#gt-1:hover i{
    transform: rotate(0deg);
}
#gt-2:hover i{
    transform: rotate(0deg);
}
#p3-inner-page{
    height: 100vh;
    width: 100%;
    background-color: #004D3B;
    position: absolute;
    bottom: -100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#p3-inner-content{
    height: 20vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(70px);
}
#p3-inner-page #cart{
    height: 80px;
    width: 80px;
    background-color: #F6ED6C;
    transform: translateY(-40px);
}
#p3-inner-page h1{
    font-family: sunset;
    font-weight: 400;
    font-size: 7.5vw;
    color: #fff;
}
#p3-products{
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 3vw;
    font-family: sunset;
}
#product1{
    height: 33.3%;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2vw;
}
#product2{
    height: 33.3%;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2vw;
}
#product3{
    height: 33.3%;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2vw;
}
#product1 h2{
    font-size: 5vw;
    font-weight: 100;
    color: #f6f6f6;
}
#product2 h2{
    font-size: 5vw;
    font-weight: 100;
    color: #f6f6f6;
}
#product3 h2{
    font-size: 5vw;
    font-weight: 100;
    color: #f6f6f6;
}
#product1 i{
    font-size: 5vw;
    color: #fff;
    transform: rotate(-40deg);
    transition: ease-in-out 0.3s;
}
#product2 i{
    font-size: 5vw;
    color: #fff;
    transform: rotate(-40deg);
    transition: ease-in-out 0.3s;
}
#product3 i{
    font-size: 5vw;
    color: #fff;
    transform: rotate(-40deg);
    transition: ease-in-out 0.3s;
}
#product1:hover i{
    transform: rotate(0deg);
}
#product2:hover i{
    transform: rotate(0deg);
}
#product3:hover i{
    transform: rotate(0deg);
}
#page4{
    min-height: 125vh;
    width: 100%;
    background-color: #004D3B;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow-x: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} 
#page4 h1{
    font-family: sunset;
    font-size: 5vw;
    margin-bottom: 2vw;
    color: #fff;
    transform: translateX(70px);
}
.faq-container{
    padding: 2vw 5vw;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: all ease 0.5s;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sunset;
    font-weight: 400;
}
.question h4{
    font-size: 2vw;
    color: #fff;
}
.question i{
    font-size: 2.8vw;
    color: #fff;
}
.icon{
    transition: all ease 0.5s;
}
.answer{
    font-family: sunset;
    font-size: 2vw;
    margin-top: 2vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.answer p{
    font-size:1.5vw ;
    color: #fff;
}
.faq-container:hover .answer{
    max-height: fit-content;
}
.faq-container:hover .icon{
    transform: rotate(45deg);
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    display: inline-block;
    font-size: 7vw;
    font-family: sunset;
    font-weight: 300;
    margin: 2vw;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: #74e2e5;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page5{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
footer{
    height: 100vh;
    width: 100%;
    display: flex;
}
#footer-left{
    height: 100%;
    width: 50%;
}
#footer-left h1{
    font-family: sunset;
    font-size: 6.5vw;
    font-weight: 100;
    transform: translateX(50px) translateY(20px);
}
#footer-left h4{
    font-family: sunset;
    font-size: 2vw;
    font-weight: 100;
    text-transform: uppercase;
    transform: translateX(50px) translateY(50px);
}
#footer-left p{
    font-family: sunset;
    font-size: calc(2vw / 1.618);
    transform: translateX(50px) translateY(50px);
}
#form-container{
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    transform: translateX(35px) translateY(80px);
}
#form-container input{
    height: 50px;
    width: 400px;
    padding: 10px 30px;
    /* border: none; */
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: #dddddd;
}
#form-container input::placeholder{
    font-family: sunset;
    font-weight: 100;
}
#form-container button{
    padding: 14px 27px;
    border: none;
    background-color: #61CEF2;
    font-family: sunset;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 50px;
    transform: translateX(-105px);
}
#socials{
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateX(45px) translateY(80px);
}
#socials i{
    font-size: 2vw;
    transition: all ease 0.3s;
    cursor: pointer;
}
#socials i:hover{
    color: #4b4b4b;
}
#f-contact{
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    transform: translateX(30px) translateY(150px);
}
#f-contact h5{
    font-size: 1.5vw;
    font-family: sunset;
    font-weight: 100;
}
#f-contact i{
    font-size: 2vw;
    font-weight: 100;
}
#footer-right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
#navigation-links{
    height: 90%;
    width: 70%;
    transform: translateX(70px);
}
#f-box{
    display: flex;
    align-items: center;
    height: 140px;
    width: 100%;
    gap: 2vw;
    font-family: sunset;
    font-weight: 300;
    border-bottom: 1px solid #111;
    cursor: pointer;
}
#f-box:nth-child(4){
    border: none;
}
#f-box h4{
    font-weight: 100;
    font-size: 1.5vw;
}
#f-box h1{
    font-size: 4vw;
    font-weight: 300;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #11111120;
    position: absolute;
    z-index: 101;
    top: 0;
    right: -100%;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#full-nav{
    height: 100%;
    width: 80%;
    background-color: #FA8993;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    align-items: flex-start;
    padding-left: 15vw ;
    gap: 3vw;
    justify-content: center;
    flex-direction: column  ;
    position: relative;
    
}

#full-nav h4{
    font-family: sunset;
    font-size: 13vw;
}
#full-nav h4 a{
    text-decoration: none;
    color: #111;
}
@media (max-width:600px){
    #page1{
        /* background-color: red; */
    }
    nav #links, #cart{
        display: none;
    }
    #p1-content{
        height: 80vh;
        width: 100%;  
    }
    #p1-main{
        transform: translateY(10vw);
        
    }
    nav{
        background-color: transparent;
    }   
    nav #logo{
        height: 4vh;
        width: 40vw;
    }
    #menu{
        display: block;
        font-family: sunset;
        padding: 2vw 5vw;
        border: 1px solid #11111157;
        border-radius: 50px;
        font-weight: 400;
    }
    .image-con{
        height: 70%;
        width: 100%;
    }
    .image-con img{
        display: none;
    }
    .image-con #one{
        background-image: url();
    }
    .text{
        background-color: red;
    }
    .text h1{
        font-size: 12vw;
    }
}